@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
    --blue:#3498DB;
    --white:#fff;
    --light-color:#777;
    --bg-color:#10162A;
    --border:.1rem solid rgba(235, 38, 38, 0.2);
    --box-shadow:.4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
          -.4rem -.4rem 1rem #fff inset;            

}
img{
    width: 20%;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    transition: .2s linear;

    
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background: var(--bg-color);
    padding-top: 2rem;
    /* padding-left: 3rem;
    padding-right: 3rem; */
    color:var(--white);
    /* overflow: hidden; */
    height: 100vh;

}
.logo{
    padding-left: 2rem;
}

nav{
    /* background-color: var(--blue); */
    height: 10rem;
    width: 100%;
    display: flex;

}

label.logo{
 color: var(--white);
 font-size: 4rem;
 /* line-height: 5rem; */
}

nav ul{
    /* float: right; */
    padding-right: 5rem;
}
nav ul li{
    display: inline-block;
    padding-top: 2rem;
    padding-left: 10rem;
    font-size: 2rem;
    cursor: pointer;

}




/* .navbar.heading{
    font-size: 2rem;

} */
.heading span{
    color: var(--blue);
    padding-top: 10rem;

}
/* .navbar{
    display: inline;

} */
.navbar li {
    list-style: none;
    display: inline;
padding-left: 25rem;
    font-size: 2rem;
    cursor: pointer;

}
.nav_buttons {
    /* padding-right: 10rem; */
    /* float: right; */
    padding-top: 1.5rem;
    padding-left: 40rem;
}
 .signin{
    background-color: var(--bg-color);
    border: 1px solid #3498DB ;
    padding-right: 6rem;
    padding: 1rem;
    color: var(--blue);
    width: 10rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;



}
 .signup{
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem;
    width: 10rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;


}
#input{
    padding: 1rem;
    margin-left: 25rem;
    width: 25rem;
    background-color: var(--bg-color);
    border: 1px solid #3498DB ;

}
button{
    background-color: var(--blue);
    color: var(--white);
    padding: 0.8rem;
    width: 10rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.read{
    background-color: var(--blue);
    color: var(--white);
    padding: 0.8rem;
    width: 10rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.Topics{
    background: rgba(53, 54, 95, 0.3) ;
    padding: 5rem;
    width: 80rem;
    margin-top: 5rem;
    margin-left: 20rem;
    display: flex;

}
/* .Blogs{
    background: rgba(53, 54, 95, 0.3) ;
    padding: 5rem;
    width: 60%;
    margin-top: 5rem;
    margin-left: 20rem;
    display: flex;


}
.left {

    flex-direction: column;
}
.left image{
    width: 100%;

}
.logo span{
    color: var(--blue);
}
.heading{
    padding-left: 23rem;
    padding-top: 2rem;
}
.right{
    padding-right: 10rem;
} */
.blog-img{
    width: 30rem;
}
.image_container{
    justify-content: center;
    display: flex;
    gap: 2rem;
}

.main{
    /* background-color:#000000; */
    padding: 5rem 0;
}
.blog .h2{
    line-height: 1.3;
    margin-bottom: 3rem;
    border-left: #fff;
    margin-right: 70rem;
    
}
.h5{
    margin-left: 21rem;
    font-size: 2rem;
    margin-bottom: 3rem;

}
.blog-card-group{
    margin-bottom: 3rem;
}
.blog-card {
    background-color: rgba(53, 54, 95, 0.3) ;
    margin-bottom: 1rem;
    padding: 3rem;
    border-radius: 1rem;
    width: 80rem;
    margin-left: 20rem;
    box-shadow: 0 10px hsla(0,0%, 0.05);
    transition: 0.25s ease;
}
.blog-profile{
    width: 5rem;
}
ul a{
    text-decoration: none;
    color: #fff;
}
.blog-card:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.1);
}
.blog-topic{
    background-color: #10162A;
}
.buttonblog-{
    margin-top: 2rem;
}
.blog-card .h3:hover{
    text-decoration: underline;

}
.blog-card .h3{
    padding-bottom: 3rem;
}
.blog-text{
    padding-bottom: 3rem;
}
.blog .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.blog-card{
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 20px;
}
.profile-wrapper{
    width: 56px;
    height: 56px;
    background: #6b7cb4;
    padding: 3px;
    border-radius: 50%;
}
.profile-wrapper img{border-radius: 50%;
}

.wrapper h4{
    padding-top: 2rem;
}
.fa-solid fa-arrow-left{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
  
}
@media (max-width:991px){
    html{
        font-size: 55%;
overflow: auto;
    }
    body{
        padding-left: 0;
    }
  
    .about{
        /* left: 50%; */
        width: 70%;
        height: 70%;
    }
    .Topics{
        width: 47rem;
        height: 40%;
        display: block;
    }
    .image_container{
        width: 90%;
        height: 50%;
    }
    .about .heading{
        width: 100%;
        padding-left: 10%;
    }
    .blog-card{
        width: 34rem;
        display: block;
    }
   
    #menu-btn{
        display: initial;
    }
}
@media(max-width:600px){
    .content p {
        width: 100%;
        /* padding-right: 20%; */
    }
}
@media (max-width:450px){
    html{
font-size: 50%;
    }
    .header{
        width: 100%;
        border-right: 0;
    }
}