@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
    --blue:#3498DB;
    --white:#fff;
    --light-color:#777;
    --bg-color:#10162A;
    --border:.1rem solid rgba(235, 38, 38, 0.2);
    --box-shadow:.4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
          -.4rem -.4rem 1rem #fff inset;            

}
img{
    width: 20%;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    transition: .2s linear;

    
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background: var(--bg-color);
    padding-top: 2rem;
   
    color:var(--white);
    height: 100vh;

}
.container{
    margin-left: 40rem  ;
    margin-top: 5rem;
    width: 50rem;
    margin-bottom: 10rem;
}
.form-wrap h1,
.form-wrap  p
{
    text-align: center;
    padding-bottom: 2rem;
}
.arrow{
    font-size: 2rem;
}
.form-wrap{
    background: var(--blue);
padding: 8rem;
border-top: #10162A 4px solid;
}
.form-wrap .form-group input{
    width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;
}
button{
    background: #10162A;
    color: var(--white);
    padding: 1rem;
    width: 10rem;
    cursor: pointer;
    border-radius: 0.5rem;
}
@media (max-width:991px){
    html{
        font-size: 55%;
overflow: auto;
    }
    body{
        padding-left: 0;
    }
    .header{
        left: -100%;
    }
    .header.active{
        left: 0%;
        transition: .3s linear;
    }
    .about{
        width: 70%;
        height: 70%;
    }
    .about .heading{
        width: 100%;
        padding-left: 10%;
    }
   
   
    #menu-btn{
        display: initial;
    }
}
@media(max-width:600px){
    .content p {
        color: #27ae60;
        width: 100%;
    }
}
@media (max-width:450px){
    html{
font-size: 50%;
    }
    .header{
        width: 100%;
        border-right: 0;
    }
}